<ion-header>
  <ion-toolbar>
    <ion-title color="medium">Composicion quimica de la dieta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header mode="md">
      <ion-card-subtitle>Lista de todas tus dietas</ion-card-subtitle>
      <ion-card-title>Descripcion de las dietas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Dietas recientes</ion-label>
          <ion-button >
            <ion-icon name="add-circle-outline"></ion-icon>
            Agregar nueva
          </ion-button>
        </ion-item>
        <ion-item class="ion-activatable ripple-parent">
          
          <ion-icon name="chevron-forward-outline"></ion-icon>
          <ion-label>
            <h2>Dieta nombre</h2>
            <h3>10/20/50</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At adipisci atque aliquam placeat ut, odio,
              laboriosam dolor inventore quas repellat tempora nulla laborum excepturi alias facere voluptas! Dicta,
              dolorem fuga?</p>
          </ion-label>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-item>
        <ion-item  class="ion-activatable ripple-parent">
          <ion-icon name="chevron-forward-outline"></ion-icon>
          <ion-label>
            <h2>Dieta nombre</h2>
            <h3>10/20/50</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At adipisci atque aliquam placeat ut, odio,
              laboriosam dolor inventore quas repellat tempora nulla laborum excepturi alias facere voluptas! Dicta,
              dolorem fuga?</p>
          </ion-label>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>