<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Creando una receta...</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/composicion" text="Atras"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card mode="md" *ngIf="ok">
    <ion-card-header>
      <ion-card-subtitle>Crea tu dieta</ion-card-subtitle>
      <ion-card-title>Composicion quimica de la dieta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="myForm" #title>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Nombre de la dieta</ion-label>
            <ion-input formControlName="titulo" placeholder="Mi nombre de la dieta sera...."></ion-input>
            <ion-text *ngIf="myForm.get('titulo').invalid && myForm.get('titulo').touched" lines="none" color="danger"
              class="form-error">
              Por favor coloca un nombre a la dieta
            </ion-text>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Descripcion de la dieta</ion-label>
            <ion-textarea formControlName="descripcion" placeholder="Esta es una pequeña descripcion"></ion-textarea>
          </ion-item>
          <ion-list-header>
            <ion-label color="dark"> 
              <b>Desayuno</b> 
              <ion-button (click)="exportexcel()">
                <ion-icon name="document-attach-outline"></ion-icon>
              </ion-button>
            </ion-label>
            <ion-button color="dark" fill="outline" (click)="addFormControl('desayuno')">Agregar <ion-icon
                name="add-circle-outline">
              </ion-icon>
            </ion-button>
          </ion-list-header>
          <ion-item>
            <ion-grid fixed>
              <ion-row>
                <ion-col>
                  <div id="table-scroll" class="table-scroll">
                    <div class="table-wrap">
                      <table class="main-table" id="excel-table">
                        <thead>
                          <tr>
                            <th scope="col" style="margin: 25px !important">Nombre</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Calcular</th>
                            <th scope="col">Borrar</th>
                            <th scope="col">Energia</th>
                            <th scope="col">Humedad</th>
                            <th scope="col">Proteina</th>
                            <th scope="col">Grasa</th>
                            <th scope="col">Hidrato C</th>
                            <th scope="col">Fibra cruda</th>
                            <th scope="col">Ceniza</th>
                            <th scope="col">Fosforo</th>
                            <th scope="col">Hierro</th>
                            <th scope="col">Vit a</th>
                            <th scope="col">Tiamina</th>
                            <th scope="col">Riboflavina</th>
                            <th scope="col">Niacina</th>
                            <th scope="col">Vitamica C</th>
                            <th scope="col">Agm</th>
                            <th scope="col">Agp</th>
                            <th scope="col">Ags</th>
                            <th scope="col">Col</th>
                            <th scope="col">Potasio</th>
                            <th scope="col">Sodio</th>
                            <th scope="col">Zinc</th>
                            <th scope="col">Vit b12</th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container formArrayName="desayuno">
                            <ng-container *ngFor="let item of controlForm('desayuno').controls;let i = index">
                              <tr [formGroupName]="i">

                                <td style="margin: 25px !important">
                                  {{ item.value.nombre }}
                                </td>
                                <td>
                                  <ion-input color="dark" formControlName="cantidad" clearInput min="0"
                                    inputmode="numeric" placeholder="0.00">
                                  </ion-input>
                                  <div style="display: none;">
                                    {{ item.value.cantidad }}
                                  </div>
                                </td>
                                <td>
                                  <ion-button color="success" (click)="changeControlValue('desayuno', i)" fill="solid">
                                    <ion-icon name="calculator-outline"></ion-icon>
                                  </ion-button>
                                </td>
                                <td>
                                  <ion-button color="danger" (click)="removeControl('desayuno', i)" fill="solid">
                                    <ion-icon name="trash-outline"></ion-icon>
                                  </ion-button>
                                </td>
                                <td>
                                  <!-- <ion-input formControlName="energia" clearInput readonly="true">
                                  </ion-input> -->
                                  {{ item.value.energia }}
                                </td>
                                <td>
                                  {{ item.value.humedad }}
                                </td>
                                <td>
                                  {{ item.value.proteina }}
                                </td>
                                <td>
                                  {{ item.value.grasa }}
                                </td>
                                <td>
                                  {{ item.value.hc }}
                                </td>
                                <td>
                                  {{ item.value.fibra_cruda }}
                                </td>
                                <td>
                                  {{ item.value.ceniza }}
                                </td>
                                <td>
                                  {{ item.value.fosforo }}
                                </td>
                                <td>
                                  {{ item.value.hierro }}
                                </td>
                                <td>
                                  {{ item.value.vit_a }}
                                </td>
                                <td>
                                
                                  {{ item.value.tiamina }}
                                </td>
                                <td>
                                  {{ item.value.riboflavina }}
                                </td>
                                <td>
                                
                                  {{ item.value.niacina }}
                                </td>
                                <td>
                                  {{ item.value.vit_c }}
                                </td>
                                <td>
                                  {{ item.value.agm }}
                                </td>
                                <td>
                                  {{ item.value.agp }}
                                </td>
                                <td>
                                  {{ item.value.ags }}
                                </td>
                                <td>
                                
                                  {{ item.value.col }}
                                </td>
                                <td>
                                  {{ item.value.potasio }}
                                </td>
                                <td>
                                  {{ item.value.sodio }}
                                </td>
                                <td>
                                  {{ item.value.zinc }}
                                </td>
                                <td>
                                  {{ item.value.vit_b12 }}
                                </td>
                              </tr>
                            </ng-container>
                          </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-margin-top">
                  <app-sub-total [value]="myForm.value" type="desayuno"></app-sub-total>
                </ion-col>
              </ion-row>
            </ion-grid>



          </ion-item>
          <ion-list-header>
            <ion-label color="dark"><b>Merienda</b></ion-label>
            <ion-button (click)="addFormControl('merienda')" color="dark" fill="outline">Agregar <ion-icon
                name="add-circle-outline">
              </ion-icon>
            </ion-button>
          </ion-list-header>
          <ion-item>
            <ion-grid fixed>
              <ion-row>
                <ion-col>
                  <div id="table-scroll" class="table-scroll">
                    <div class="table-wrap">
                      <table class="main-table">
                        <thead>
                          <tr>
                            <th scope="col" style="margin: 25px !important">Nombre</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Calcular</th>
                            <th scope="col">Borrar</th>
                            <th scope="col">Energia</th>
                            <th scope="col">Humedad</th>
                            <th scope="col">Proteina</th>
                            <th scope="col">Grasa</th>
                            <th scope="col">Hidrato C</th>
                            <th scope="col">Fibra cruda</th>
                            <th scope="col">Ceniza</th>
                            <th scope="col">Fosforo</th>
                            <th scope="col">Hierro</th>
                            <th scope="col">Vit a</th>
                            <th scope="col">Tiamina</th>
                            <th scope="col">Riboflavina</th>
                            <th scope="col">Niacina</th>
                            <th scope="col">Vitamica C</th>
                            <th scope="col">Agm</th>
                            <th scope="col">Agp</th>
                            <th scope="col">Ags</th>
                            <th scope="col">Col</th>
                            <th scope="col">Potasio</th>
                            <th scope="col">Sodio</th>
                            <th scope="col">Zinc</th>
                            <th scope="col">Vit b12</th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container formArrayName="merienda">
                            <ng-container *ngFor="let item of controlForm('merienda').controls;let i = index">
                              <tr [formGroupName]="i">

                                <td style="margin: 25px !important">
                                  {{ item.value.nombre }}
                                </td>
                                <td>
                                  <ion-input color="dark" formControlName="cantidad" clearInput min="0"
                                    inputmode="numeric" placeholder="0.00">
                                  </ion-input>
                                  <div style="display: none;">
                                    {{ item.value.cantidad }}
                                  </div>
                                </td>
                                <td>
                                  <ion-button color="success" (click)="changeControlValue('merienda', i)" fill="solid">
                                    <ion-icon name="calculator-outline"></ion-icon>
                                  </ion-button>
                                </td>
                                <td>
                                  <ion-button color="danger" (click)="removeControl('merienda', i)" fill="solid">
                                    <ion-icon name="trash-outline"></ion-icon>
                                  </ion-button>
                                </td>
                                <td>
                                  <!-- <ion-input formControlName="energia" clearInput readonly="true">
                                  </ion-input> -->
                                  {{ item.value.energia }}
                                </td>
                                <td>
                                  {{ item.value.humedad }}
                                </td>
                                <td>
                                  {{ item.value.proteina }}
                                </td>
                                <td>
                                  {{ item.value.grasa }}
                                </td>
                                <td>
                                  {{ item.value.hc }}
                                </td>
                                <td>
                                  {{ item.value.fibra_cruda }}
                                </td>
                                <td>
                                  {{ item.value.ceniza }}
                                </td>
                                <td>
                                  {{ item.value.fosforo }}
                                </td>
                                <td>
                                  {{ item.value.hierro }}
                                </td>
                                <td>
                                  {{ item.value.vit_a }}
                                </td>
                                <td>
                                
                                  {{ item.value.tiamina }}
                                </td>
                                <td>
                                  {{ item.value.riboflavina }}
                                </td>
                                <td>
                                
                                  {{ item.value.niacina }}
                                </td>
                                <td>
                                  {{ item.value.vit_c }}
                                </td>
                                <td>
                                  {{ item.value.agm }}
                                </td>
                                <td>
                                  {{ item.value.agp }}
                                </td>
                                <td>
                                  {{ item.value.ags }}
                                </td>
                                <td>
                                
                                  {{ item.value.col }}
                                </td>
                                <td>
                                  {{ item.value.potasio }}
                                </td>
                                <td>
                                  {{ item.value.sodio }}
                                </td>
                                <td>
                                  {{ item.value.zinc }}
                                </td>
                                <td>
                                  {{ item.value.vit_b12 }}
                                </td>
                              </tr>
                            </ng-container>
                          </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-margin-top">
                  <app-sub-total [value]="myForm.value" type="merienda"></app-sub-total>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-list-header>
            <ion-label color="dark"><b>Almuerzo</b></ion-label>
            <ion-button (click)="addFormControl('almuerzo')" color="dark" fill="outline">Agregar <ion-icon
                name="add-circle-outline">
              </ion-icon>
            </ion-button>
          </ion-list-header>
          <ion-item>
            <ion-grid fixed>
              <ion-row>
                <ion-col>
                  <div id="table-scroll" class="table-scroll">
                    <div class="table-wrap">
                      <table class="main-table">
                        <thead>
                          <tr>
                            <th scope="col" style="margin: 25px !important">Nombre</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Calcular</th>
                            <th scope="col">Borrar</th>
                            <th scope="col">Energia</th>
                            <th scope="col">Humedad</th>
                            <th scope="col">Proteina</th>
                            <th scope="col">Grasa</th>
                            <th scope="col">Hidrato C</th>
                            <th scope="col">Fibra cruda</th>
                            <th scope="col">Ceniza</th>
                            <th scope="col">Fosforo</th>
                            <th scope="col">Hierro</th>
                            <th scope="col">Vit a</th>
                            <th scope="col">Tiamina</th>
                            <th scope="col">Riboflavina</th>
                            <th scope="col">Niacina</th>
                            <th scope="col">Vitamica C</th>
                            <th scope="col">Agm</th>
                            <th scope="col">Agp</th>
                            <th scope="col">Ags</th>
                            <th scope="col">Col</th>
                            <th scope="col">Potasio</th>
                            <th scope="col">Sodio</th>
                            <th scope="col">Zinc</th>
                            <th scope="col">Vit b12</th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container formArrayName="almuerzo">
                            <ng-container *ngFor="let item of controlForm('almuerzo').controls;let i = index">
                              <tr [formGroupName]="i">

                                <td style="margin: 25px !important">
                                  {{ item.value.nombre }}
                                </td>
                                <td>
                                  <ion-input color="dark" formControlName="cantidad" clearInput min="0"
                                    inputmode="numeric" placeholder="0.00">
                                  </ion-input>
                                  <div style="display: none;">
                                    {{ item.value.cantidad }}
                                  </div>
                                </td>
                                <td>
                                  <ion-button color="success" (click)="changeControlValue('almuerzo', i)" fill="solid">
                                    <ion-icon name="calculator-outline"></ion-icon>
                                  </ion-button>
                                </td>
                                <td>
                                  <ion-button color="danger" (click)="removeControl('almuerzo', i)" fill="solid">
                                    <ion-icon name="trash-outline"></ion-icon>
                                  </ion-button>
                                </td>
                                <td>
                                  <!-- <ion-input formControlName="energia" clearInput readonly="true">
                                  </ion-input> -->
                                  {{ item.value.energia }}
                                </td>
                                <td>
                                  {{ item.value.humedad }}
                                </td>
                                <td>
                                  {{ item.value.proteina }}
                                </td>
                                <td>
                                  {{ item.value.grasa }}
                                </td>
                                <td>
                                  {{ item.value.hc }}
                                </td>
                                <td>
                                  {{ item.value.fibra_cruda }}
                                </td>
                                <td>
                                  {{ item.value.ceniza }}
                                </td>
                                <td>
                                  {{ item.value.fosforo }}
                                </td>
                                <td>
                                  {{ item.value.hierro }}
                                </td>
                                <td>
                                  {{ item.value.vit_a }}
                                </td>
                                <td>
                                
                                  {{ item.value.tiamina }}
                                </td>
                                <td>
                                  {{ item.value.riboflavina }}
                                </td>
                                <td>
                                
                                  {{ item.value.niacina }}
                                </td>
                                <td>
                                  {{ item.value.vit_c }}
                                </td>
                                <td>
                                  {{ item.value.agm }}
                                </td>
                                <td>
                                  {{ item.value.agp }}
                                </td>
                                <td>
                                  {{ item.value.ags }}
                                </td>
                                <td>
                                
                                  {{ item.value.col }}
                                </td>
                                <td>
                                  {{ item.value.potasio }}
                                </td>
                                <td>
                                  {{ item.value.sodio }}
                                </td>
                                <td>
                                  {{ item.value.zinc }}
                                </td>
                                <td>
                                  {{ item.value.vit_b12 }}
                                </td>
                              </tr>
                            </ng-container>
                          </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-margin-top">
                  <app-sub-total [value]="myForm.value" type="almuerzo"></app-sub-total>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-list-header>
            <ion-label color="dark"><b>Té</b></ion-label>
            <ion-button (click)="addFormControl('te')" color="dark" fill="outline">Agregar <ion-icon
                name="add-circle-outline">
              </ion-icon>
            </ion-button>
          </ion-list-header>
          <ion-item>
            <ion-grid fixed>
              <ion-row>
                <ion-col>
                  <div id="table-scroll" class="table-scroll">
                    <div class="table-wrap">
                      <table class="main-table">
                        <thead>
                          <tr>
                            <th scope="col" style="margin: 25px !important">Nombre</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Calcular</th>
                            <th scope="col">Borrar</th>
                            <th scope="col">Energia</th>
                            <th scope="col">Humedad</th>
                            <th scope="col">Proteina</th>
                            <th scope="col">Grasa</th>
                            <th scope="col">Hidrato C</th>
                            <th scope="col">Fibra cruda</th>
                            <th scope="col">Ceniza</th>
                            <th scope="col">Fosforo</th>
                            <th scope="col">Hierro</th>
                            <th scope="col">Vit a</th>
                            <th scope="col">Tiamina</th>
                            <th scope="col">Riboflavina</th>
                            <th scope="col">Niacina</th>
                            <th scope="col">Vitamica C</th>
                            <th scope="col">Agm</th>
                            <th scope="col">Agp</th>
                            <th scope="col">Ags</th>
                            <th scope="col">Col</th>
                            <th scope="col">Potasio</th>
                            <th scope="col">Sodio</th>
                            <th scope="col">Zinc</th>
                            <th scope="col">Vit b12</th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container formArrayName="te">
                            <ng-container *ngFor="let item of controlForm('te').controls;let i = index">
                              <tr [formGroupName]="i">

                                <td style="margin: 25px !important">
                                  {{ item.value.nombre }}
                                </td>
                                <td>
                                  <ion-input color="dark" formControlName="cantidad" clearInput min="0"
                                    inputmode="numeric" placeholder="0.00">
                                  </ion-input>
                                  <div style="display: none;">
                                    {{ item.value.cantidad }}
                                  </div>
                                </td>
                                <td>
                                  <ion-button color="success" (click)="changeControlValue('te', i)" fill="solid">
                                    <ion-icon name="calculator-outline"></ion-icon>
                                  </ion-button>
                                </td>
                                <td>
                                  <ion-button color="danger" (click)="removeControl('te', i)" fill="solid">
                                    <ion-icon name="trash-outline"></ion-icon>
                                  </ion-button>
                                </td>
                                <td>
                                  <!-- <ion-input formControlName="energia" clearInput readonly="true">
                                  </ion-input> -->
                                  {{ item.value.energia }}
                                </td>
                                <td>
                                  {{ item.value.humedad }}
                                </td>
                                <td>
                                  {{ item.value.proteina }}
                                </td>
                                <td>
                                  {{ item.value.grasa }}
                                </td>
                                <td>
                                  {{ item.value.hc }}
                                </td>
                                <td>
                                  {{ item.value.fibra_cruda }}
                                </td>
                                <td>
                                  {{ item.value.ceniza }}
                                </td>
                                <td>
                                  {{ item.value.fosforo }}
                                </td>
                                <td>
                                  {{ item.value.hierro }}
                                </td>
                                <td>
                                  {{ item.value.vit_a }}
                                </td>
                                <td>
                                
                                  {{ item.value.tiamina }}
                                </td>
                                <td>
                                  {{ item.value.riboflavina }}
                                </td>
                                <td>
                                
                                  {{ item.value.niacina }}
                                </td>
                                <td>
                                  {{ item.value.vit_c }}
                                </td>
                                <td>
                                  {{ item.value.agm }}
                                </td>
                                <td>
                                  {{ item.value.agp }}
                                </td>
                                <td>
                                  {{ item.value.ags }}
                                </td>
                                <td>
                                
                                  {{ item.value.col }}
                                </td>
                                <td>
                                  {{ item.value.potasio }}
                                </td>
                                <td>
                                  {{ item.value.sodio }}
                                </td>
                                <td>
                                  {{ item.value.zinc }}
                                </td>
                                <td>
                                  {{ item.value.vit_b12 }}
                                </td>
                              </tr>
                            </ng-container>
                          </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-margin-top">
                  <app-sub-total [value]="myForm.value" type="te"></app-sub-total>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-list-header>
            <ion-label color="dark"><b>Cena</b></ion-label>
            <ion-button (click)="addFormControl('cena')" color="dark" fill="outline">Agregar <ion-icon
                name="add-circle-outline">
              </ion-icon>
            </ion-button>
          </ion-list-header>
          <ion-item>
            <ion-grid fixed>
              <ion-row>
                <ion-col>
                  <div id="table-scroll" class="table-scroll">
                    <div class="table-wrap">
                      <table class="main-table">
                        <thead>
                          <tr>
                            <th scope="col" style="margin: 25px !important">Nombre</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Calcular</th>
                            <th scope="col">Borrar</th>
                            <th scope="col">Energia</th>
                            <th scope="col">Humedad</th>
                            <th scope="col">Proteina</th>
                            <th scope="col">Grasa</th>
                            <th scope="col">Hidrato C</th>
                            <th scope="col">Fibra cruda</th>
                            <th scope="col">Ceniza</th>
                            <th scope="col">Fosforo</th>
                            <th scope="col">Hierro</th>
                            <th scope="col">Vit a</th>
                            <th scope="col">Tiamina</th>
                            <th scope="col">Riboflavina</th>
                            <th scope="col">Niacina</th>
                            <th scope="col">Vitamica C</th>
                            <th scope="col">Agm</th>
                            <th scope="col">Agp</th>
                            <th scope="col">Ags</th>
                            <th scope="col">Col</th>
                            <th scope="col">Potasio</th>
                            <th scope="col">Sodio</th>
                            <th scope="col">Zinc</th>
                            <th scope="col">Vit b12</th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container formArrayName="cena">
                            <ng-container *ngFor="let item of controlForm('cena').controls;let i = index">
                              <tr [formGroupName]="i">

                                <td style="margin: 25px !important">
                                  {{ item.value.nombre }}
                                </td>
                                <td>
                                  <ion-input color="dark" formControlName="cantidad" clearInput min="0"
                                    inputmode="numeric" placeholder="0.00">
                                  </ion-input>
                                  <div style="display: none;">
                                    {{ item.value.cantidad }}
                                  </div>
                                </td>
                                <td>
                                  <ion-button color="success" (click)="changeControlValue('cena', i)" fill="solid">
                                    <ion-icon name="calculator-outline"></ion-icon>
                                  </ion-button>
                                </td>
                                <td>
                                  <ion-button color="danger" (click)="removeControl('cena', i)" fill="solid">
                                    <ion-icon name="trash-outline"></ion-icon>
                                  </ion-button>
                                </td>
                                <td>
                                  <!-- <ion-input formControlName="energia" clearInput readonly="true">
                                  </ion-input> -->
                                  {{ item.value.energia }}
                                </td>
                                <td>
                                  {{ item.value.humedad }}
                                </td>
                                <td>
                                  {{ item.value.proteina }}
                                </td>
                                <td>
                                  {{ item.value.grasa }}
                                </td>
                                <td>
                                  {{ item.value.hc }}
                                </td>
                                <td>
                                  {{ item.value.fibra_cruda }}
                                </td>
                                <td>
                                  {{ item.value.ceniza }}
                                </td>
                                <td>
                                  {{ item.value.fosforo }}
                                </td>
                                <td>
                                  {{ item.value.hierro }}
                                </td>
                                <td>
                                  {{ item.value.vit_a }}
                                </td>
                                <td>
                                
                                  {{ item.value.tiamina }}
                                </td>
                                <td>
                                  {{ item.value.riboflavina }}
                                </td>
                                <td>
                                
                                  {{ item.value.niacina }}
                                </td>
                                <td>
                                  {{ item.value.vit_c }}
                                </td>
                                <td>
                                  {{ item.value.agm }}
                                </td>
                                <td>
                                  {{ item.value.agp }}
                                </td>
                                <td>
                                  {{ item.value.ags }}
                                </td>
                                <td>
                                
                                  {{ item.value.col }}
                                </td>
                                <td>
                                  {{ item.value.potasio }}
                                </td>
                                <td>
                                  {{ item.value.sodio }}
                                </td>
                                <td>
                                  {{ item.value.zinc }}
                                </td>
                                <td>
                                  {{ item.value.vit_b12 }}
                                </td>
                              </tr>
                            </ng-container>
                          </ng-container>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-margin-top">
                  <app-sub-total [value]="myForm.value" type="cena"></app-sub-total>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">´
                  <ion-card>
                    <ion-card-header>
                      <ion-card-subtitle>Requerimiento</ion-card-subtitle>

                    </ion-card-header>
                    <ion-card-content formGroupName="req">
                      <ion-row >
                        <ion-col size="4">
                          <ion-item>
                            <ion-label position="stacked">Energia</ion-label>
                            <ion-input formControlName="energia" color="dark" inputmode="numeric" min="0" clearInput="true"></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col size="4">
                          <ion-item>
                            <ion-label position="stacked">Humedad</ion-label>
                            <ion-input formControlName="humedad" color="dark" inputmode="numeric" min="0" clearInput="true"></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col size="4">
                          <ion-item>
                            <ion-label position="stacked">Proteina</ion-label>
                            <ion-input formControlName="proteina" color="dark" inputmode="numeric" min="0" clearInput="true"></ion-input>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                      <ion-row >
                        <ion-col size="4">
                          <ion-item>
                            <ion-label position="stacked">Grasa</ion-label>
                            <ion-input formControlName="grasa" color="dark" inputmode="numeric" min="0" clearInput="true"></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col size="4">
                          <ion-item>
                            <ion-label position="stacked">Hc</ion-label>
                            <ion-input formControlName="hc" color="dark" inputmode="numeric" min="0" clearInput="true"></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col size="4">
                          <ion-item>
                            <ion-label position="stacked">Fibra cruda</ion-label>
                            <ion-input formControlName="fibra_cruda" color="dark" inputmode="numeric" min="0" clearInput="true"></ion-input>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                      <ion-row >
                        <ion-col size="4">
                          <ion-item>
                            <ion-label position="stacked">Ceniza</ion-label>
                            <ion-input formControlName="ceniza" color="dark" inputmode="numeric" min="0" clearInput="true"></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col size="4">
                          <ion-item>
                            <ion-label position="stacked">Calcio</ion-label>
                            <ion-input formControlName="calcio" color="dark" inputmode="numeric" min="0" clearInput="true"></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col size="4">
                          <ion-item>
                            <ion-label position="stacked">Fosforo</ion-label>
                            <ion-input formControlName="fosforo" color="dark" inputmode="numeric" min="0" clearInput="true"></ion-input>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                      <ion-row >
                        <ion-col size="4">
                          <ion-item>
                            <ion-label position="stacked">Hierro</ion-label>
                            <ion-input formControlName="hierro" color="dark" inputmode="numeric" min="0" clearInput="true"></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col size="4">
                          <ion-item>
                            <ion-label position="stacked">Vit a</ion-label>
                            <ion-input formControlName="vit_a" color="dark" inputmode="numeric" min="0" clearInput="true"></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col size="4">
                          <ion-item>
                            <ion-label position="stacked">Tiamina</ion-label>
                            <ion-input formControlName="tiamina" color="dark" inputmode="numeric" min="0" clearInput="true"></ion-input>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                      <ion-row >
                        <ion-col size="4">
                          <ion-item>
                            <ion-label position="stacked">Riboflavina</ion-label>
                            <ion-input formControlName="riboflavina" color="dark" inputmode="numeric" min="0" clearInput="true"></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col size="4">
                          <ion-item>
                            <ion-label position="stacked">Niacina</ion-label>
                            <ion-input formControlName="niacina" color="dark" inputmode="numeric" min="0" clearInput="true"></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col size="4">
                          <ion-item>
                            <ion-label position="stacked">Vit c</ion-label>
                            <ion-input formControlName="vit_c" color="dark" inputmode="numeric" min="0" clearInput="true"></ion-input>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                      <ion-row >
                        <ion-col size="4">
                          <ion-item>
                            <ion-label position="stacked">Agm</ion-label>
                            <ion-input formControlName="agm" color="dark" inputmode="numeric" min="0" clearInput="true"></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col size="4">
                          <ion-item>
                            <ion-label position="stacked">Agp</ion-label>
                            <ion-input formControlName="agp" color="dark" inputmode="numeric" min="0" clearInput="true"></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col size="4">
                          <ion-item>
                            <ion-label position="stacked">ags</ion-label>
                            <ion-input formControlName="ags" color="dark" inputmode="numeric" min="0" clearInput="true"></ion-input>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                      <ion-row >
                        <ion-col size="4">
                          <ion-item>
                            <ion-label position="stacked">Col</ion-label>
                            <ion-input formControlName="col" color="dark" inputmode="numeric" min="0" clearInput="true"></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col size="4">
                          <ion-item>
                            <ion-label position="stacked">Potasio</ion-label>
                            <ion-input formControlName="potasio" color="dark" inputmode="numeric" min="0" clearInput="true"></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col size="4">
                          <ion-item>
                            <ion-label position="stacked">Sodio</ion-label>
                            <ion-input formControlName="sodio" color="dark" inputmode="numeric" min="0" clearInput="true"></ion-input>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                      <ion-row >
                        <ion-col size="4">
                          <ion-item>
                            <ion-label position="stacked">Zinc</ion-label>
                            <ion-input formControlName="zinc" color="dark" inputmode="numeric" min="0" clearInput="true"></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col size="4">
                          <ion-item>
                            <ion-label position="stacked">Vit b12</ion-label>
                            <ion-input formControlName="vit_b12" color="dark" inputmode="numeric" min="0" clearInput="true"></ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col size="4">
                          
                        </ion-col>
                      </ion-row>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="12">
                  <app-sub-total [value]="myForm.value" [total]="false"></app-sub-total>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="ion-margin-top">
                  <app-adec [value]="myForm.value"></app-adec>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
        <ion-button (click)="store(title)" expand="full">
          <ion-icon name="save-outline"></ion-icon>
          <ng-container *ngIf="valueUpdateLenght(); else elseTemplate">
            Actualizar
          </ng-container>
          <ng-template #elseTemplate>
            Crear
          </ng-template>
          
          
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>