ion-col, ion-row  {
    padding: 0;
}
.table-scroll {
	// position:relative;
	max-width:60vw;
	overflow:hidden;
	border:1px solid #000;
}
.table-wrap {
	width:100%;
	overflow:auto;
}
.table-scroll table {
	width:100%;
	border-collapse:separate;
	border-spacing:0;
}
.table-scroll th, .table-scroll td {
	padding:5px 10px;
	border:1px solid #000;
	white-space:nowrap;
	vertical-align:top;
}
th {
	background-color: var(--ion-color-success);
}
.clone {
	// position:absolute;
	top:0;
	left:0;
	pointer-events:none;
}
.clone th, .clone td {
	visibility:hidden
}
.clone td, .clone th {
	border-color:transparent
}
