<ion-header>
  <ion-toolbar>
    <ion-title>Calculo dietetico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="isOkey">
    <form [formGroup]="formGroup" #title>

      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Escriba los</ion-card-subtitle>
          <ion-card-title mode="md">Datos del sujeto</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-row>
            <ion-col size="3">
              <ion-item>
                <ion-label position="stacked">Nombre</ion-label>
                <ion-input formControlName="nombre" placeholder="Escribir nombre"></ion-input>
                <ion-text *ngIf="formGroup.get('nombre').invalid && formGroup.get('nombre').touched" lines="none"
                  color="danger" class="form-error">
                  Este campo es requerido
                </ion-text>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Edad</ion-label>
                <ion-input formControlName="edad" type="number" min="0" placeholder="Escribir edad"></ion-input>
                <ion-text *ngIf="formGroup.get('edad').invalid && formGroup.get('edad').touched" lines="none"
                  color="danger" class="form-error">
                  Este campo es requerido
                </ion-text>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Sexo</ion-label>
                <ion-select mode="md" formControlName="sexo" placeholder="Escribir Sexo">
                  <ion-select-option value="MUJER">MUJER</ion-select-option>
                  <ion-select-option value="HOMBRE">HOMBRE</ion-select-option>
                </ion-select>
                <ion-text *ngIf="formGroup.get('sexo').invalid && formGroup.get('sexo').touched" lines="none"
                  color="danger" class="form-error">
                  Este campo es requerido
                </ion-text>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <ion-item>
                <ion-label position="stacked">Talla</ion-label>
                <ion-input type="text" formControlName="talla" placeholder="Escribir talla"></ion-input>
                <ion-text *ngIf="formGroup.get('talla').invalid && formGroup.get('talla').touched" lines="none"
                  color="danger" class="form-error">
                  Este campo es requerido
                </ion-text>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">actividad Fisica</ion-label>
                <ion-input formControlName="actividadFisica" placeholder="Escribir actividad Fisica"></ion-input>
                <ion-text *ngIf="formGroup.get('actividadFisica').invalid && formGroup.get('actividadFisica').touched"
                  lines="none" color="danger" class="form-error">
                  Este campo es requerido
                </ion-text>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Nivel de actividad fisica</ion-label>
                <ion-input formControlName="nivelActividadFisica" placeholder="Escribir actividad Fisica"></ion-input>
                <ion-text
                  *ngIf="formGroup.get('nivelActividadFisica').invalid && formGroup.get('nivelActividadFisica').touched"
                  lines="none" color="danger" class="form-error">
                  Este campo es requerido
                </ion-text>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Descripcion</ion-label>
                <ion-textarea formControlName='descripcion' maxlength="80" rows='2'   placeholder="Escriba una descripcion aqui...">
                </ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Escriba los</ion-card-subtitle>
          <ion-card-title mode="md">Rutina diaria (F.A.F)</ion-card-title>
        </ion-card-header>

        <ion-card-content formGroupName='rutina'>
          <div style="border-style: dotted; padding: 1rem;">
            <ion-row class="ion-no-padding ion-no-margin">
              <ion-col class="ion-no-padding ion-no-margin">
                <ion-item>
                  <ion-label><b>Descansar</b> </ion-label>
                  <ion-input type="number" formControlName="descansar" placeholder="valor"></ion-input>
                  <ion-text
                    *ngIf="formGroup.get('rutina').get('descansar').invalid && formGroup.get('rutina').get('descansar').touched"
                    lines="none" color="danger" class="form-error">
                    Este campo es requerido
                  </ion-text>
                </ion-item>
              </ion-col>
              <ion-col class="ion-no-padding ion-no-margin">
                <ion-item>
                  <ion-label><b>Horas</b></ion-label>
                  <ion-input type="number" formControlName="descansarHora" placeholder="valor"></ion-input>
                  <ion-text
                    *ngIf="formGroup.get('rutina').get('descansarHora').invalid && formGroup.get('rutina').get('descansarHora').touched"
                    lines="none" color="danger" class="form-error">
                    Este campo es requerido
                  </ion-text>
                </ion-item>
              </ion-col>
              <ion-col class="ion-no-margin" style="padding-top: 0.8rem;"><b>Promedio :</b>
                {{getPromedioRutina('descansar')}}</ion-col>
            </ion-row>
          </div>
          <div style="border-style: dotted; padding: 1rem; margin-top: 0.8rem;">
            <ion-row class="ion-no-padding ion-no-margin">
              <ion-col class="ion-no-padding ion-no-margin">
                <ion-item>
                  <ion-label><b>Reposo</b> </ion-label>
                  <ion-input formControlName="reposo" type="number" placeholder="valor"></ion-input>
                  <ion-text
                    *ngIf="formGroup.get('rutina').get('reposo').invalid && formGroup.get('rutina').get('reposo').touched"
                    lines="none" color="danger" class="form-error">
                    Este campo es requerido
                  </ion-text>
                </ion-item>
              </ion-col>
              <ion-col class="ion-no-padding ion-no-margin">
                <ion-item>
                  <ion-label style="background-color: beige;"><b>Horas</b> {{getRutinaReposo()}}</ion-label>

                  <ion-text
                    *ngIf="formGroup.get('rutina').get('reposoHora').invalid && formGroup.get('rutina').get('reposoHora').touched"
                    lines="none" color="danger" class="form-error">
                    Este campo es requerido
                  </ion-text>
                </ion-item>
              </ion-col>
              <ion-col class="ion-no-margin" style="padding-top: 0.8rem;"><b>Promedio :</b>
                {{getPromedioRutina('reposo')}}</ion-col>
            </ion-row>
          </div>
          <div style="border-style: dotted; padding: 1rem; margin-top: 0.8rem;">
            <ion-row class="ion-no-padding ion-no-margin">
              <ion-col class="ion-no-padding ion-no-margin">
                <ion-item>
                  <ion-label><b>Estudiar</b> </ion-label>
                  <ion-input formControlName="estudiar" type="number" placeholder="valor"></ion-input>
                  <ion-text
                    *ngIf="formGroup.get('rutina').get('estudiar').invalid && formGroup.get('rutina').get('estudiar').touched"
                    lines="none" color="danger" class="form-error">
                    Este campo es requerido
                  </ion-text>
                </ion-item>
              </ion-col>
              <ion-col class="ion-no-padding ion-no-margin">
                <ion-item>
                  <ion-label><b>Horas</b></ion-label>
                  <ion-input formControlName="estudiarHora" type="number" placeholder="valor"></ion-input>
                  <ion-text
                    *ngIf="formGroup.get('rutina').get('estudiarHora').invalid && formGroup.get('rutina').get('estudiarHora').touched"
                    lines="none" color="danger" class="form-error">
                    Este campo es requerido
                  </ion-text>
                </ion-item>
              </ion-col>
              <ion-col class="ion-no-margin" style="padding-top: 0.8rem;"><b>Promedio :</b>
                {{getPromedioRutina('estudiar')}}</ion-col>
            </ion-row>
          </div>
          <div style="border-style: dotted; padding: 1rem; margin-top: 0.8rem;">
            <ion-row class="ion-no-padding ion-no-margin">
              <ion-col class="ion-no-padding ion-no-margin">
                <ion-item>
                  <ion-label><b>Caminar</b> </ion-label>
                  <ion-input formControlName="caminar" type="number" placeholder="valor"></ion-input>
                  <ion-text
                    *ngIf="formGroup.get('rutina').get('caminar').invalid && formGroup.get('rutina').get('caminar').touched"
                    lines="none" color="danger" class="form-error">
                    Este campo es requerido
                  </ion-text>
                </ion-item>
              </ion-col>
              <ion-col class="ion-no-padding ion-no-margin">
                <ion-item>
                  <ion-label><b>Horas</b></ion-label>
                  <ion-input formControlName="caminarHora" type="number" placeholder="valor"></ion-input>
                  <ion-text
                    *ngIf="formGroup.get('rutina').get('caminarHora').invalid && formGroup.get('rutina').get('caminarHora').touched"
                    lines="none" color="danger" class="form-error">
                    Este campo es requerido
                  </ion-text>
                </ion-item>
              </ion-col>
              <ion-col class="ion-no-margin" style="padding-top: 0.8rem;"><b>Promedio :</b>
                {{getPromedioRutina('caminar')}}</ion-col>
            </ion-row>
          </div>
          <div style="border-style: dotted; padding: 1rem; margin-top: 0.8rem;">
            <ion-row class="ion-no-padding ion-no-margin">
              <ion-col class="ion-no-padding ion-no-margin">
                <ion-item>
                  <ion-label ><b>Trabajar</b></ion-label>
                  <ion-select mode="md" formControlName="trabajar" placeholder="Escribir Sexo">
                    <ion-select-option [value]="2">2</ion-select-option>
                    <ion-select-option [value]="3">3</ion-select-option>
                    <ion-select-option [value]="4">4</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col class="ion-no-padding ion-no-margin">
                <ion-item>
                  <ion-label><b>Horas</b></ion-label>
                  <ion-input formControlName="trabajarHora" type="number" placeholder="valor"></ion-input>
                  <ion-text
                    *ngIf="formGroup.get('rutina').get('trabajarHora').invalid && formGroup.get('rutina').get('trabajarHora').touched"
                    lines="none" color="danger" class="form-error">
                    Este campo es requerido
                  </ion-text>
                </ion-item>
              </ion-col>
              <ion-col class="ion-no-margin" style="padding-top: 0.8rem;"><b>Promedio :</b>
                {{getPromedioRutina('trabajar')}}</ion-col>
            </ion-row>
          </div>
          <div style="border-style: dotted; padding: 1rem; margin-top: 0.8rem;">
            <ion-row class="ion-no-padding ion-no-margin">
              <ion-col class="ion-no-padding ion-no-margin">
                
                <ion-item>
                  <ion-label ><b>Entrenar</b></ion-label>
                  <ion-select mode="md" formControlName="entrenar" placeholder="Entrenar">
                    <ion-select-option [value]="5">5</ion-select-option>
                    <ion-select-option [value]="6">6</ion-select-option>
                    <ion-select-option [value]="7">7</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col class="ion-no-padding ion-no-margin">
                <ion-item>
                  <ion-label><b>Horas</b></ion-label>
                  <ion-input formControlName="entrenarHora" type="number" placeholder="valor"></ion-input>
                  <ion-text
                    *ngIf="formGroup.get('rutina').get('entrenarHora').invalid && formGroup.get('rutina').get('entrenarHora').touched"
                    lines="none" color="danger" class="form-error">
                    Este campo es requerido
                  </ion-text>
                </ion-item>
              </ion-col>
              <ion-col class="ion-no-margin" style="padding-top: 0.8rem;"><b>Promedio :</b>
                {{getPromedioRutina('entrenar')}}</ion-col>
            </ion-row>
          </div>
          <ion-row>
            <ion-col size="2" offset="4">
              <ion-label><b>Horas total :</b> {{getRutinaTotal(fieldsHora, 'horasTotal')}}</ion-label>
            </ion-col>
            <ion-col size="2">
              <ion-label><b>Promedio total :</b>{{getRutinaTotal(fieldsPromedio, 'promedioTotal')}}</ion-label>
            </ion-col>
            <ion-col size="3">
              <ion-label><b>Total :</b>{{getRutinaTotalGeneral()}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>

          <ion-card-title mode="md">Antropometría (Datos del ISAK)</ion-card-title>
        </ion-card-header>

        <ion-card-content formGroupName='antropometria'>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Peso (kg)</ion-label>
                <ion-input formControlName="peso" type="number" placeholder="Escribir peso"></ion-input>
                <ion-text
                  *ngIf="formGroup.get('antropometria').get('peso').invalid && formGroup.get('antropometria').get('peso').touched"
                  lines="none" color="danger" class="form-error">
                  Este campo es requerido
                </ion-text>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Peso Objetivo (kg): </ion-label>
                {{getAntropometriaPesoObjectivo()}}

                <ion-text
                  *ngIf="formGroup.get('antropometria').get('pesoObjectivo').invalid && formGroup.get('antropometria').get('pesoObjectivo').touched"
                  lines="none" color="danger" class="form-error">
                  Este campo es requerido
                </ion-text>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Kg. Masa magra (D y W)</ion-label>
                <ion-input formControlName="masaMagra" type="number" placeholder="Escribir Kg. Masa magra"></ion-input>
                <ion-text
                  *ngIf="formGroup.get('antropometria').get('masaMagra').invalid && formGroup.get('antropometria').get('masaMagra').touched"
                  lines="none" color="danger" class="form-error">
                  Este campo es requerido
                </ion-text>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Kg. Masa grasa (D y W)</ion-label>
                <ion-input formControlName="masaGrasa" type="number" placeholder="Escribir Kg. Masa grasa"></ion-input>
                <ion-text
                  *ngIf="formGroup.get('antropometria').get('masaGrasa').invalid && formGroup.get('antropometria').get('masaGrasa').touched"
                  lines="none" color="danger" class="form-error">
                  Este campo es requerido
                </ion-text>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Indice músculo/óseo</ion-label>
                <ion-input formControlName="indiceMusculo" type="number" placeholder="Escribir peso objectivo">
                </ion-input>
                <ion-text
                  *ngIf="formGroup.get('antropometria').get('indiceMusculo').invalid && formGroup.get('antropometria').get('indiceMusculo').touched"
                  lines="none" color="danger" class="form-error">
                  Este campo es requerido
                </ion-text>
              </ion-item>
            </ion-col>

          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Kg. Grasa a disminuir</ion-label>
                <ion-input formControlName="grasaDisminuir" type="number" placeholder="Escribir Kg. Grasa a disminuir">
                </ion-input>
                <ion-text
                  *ngIf="formGroup.get('antropometria').get('grasaDisminuir').invalid && formGroup.get('antropometria').get('grasaDisminuir').touched"
                  lines="none" color="danger" class="form-error">
                  Este campo es requerido
                </ion-text>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Kg. Músculo para aumentar</ion-label>
                <ion-input formControlName="musculoAumentar" type="number"
                  placeholder="Escribir Kg. Músculo para aumentar"></ion-input>
                <ion-text
                  *ngIf="formGroup.get('antropometria').get('musculoAumentar').invalid && formGroup.get('antropometria').get('musculoAumentar').touched"
                  lines="none" color="danger" class="form-error">
                  Este campo es requerido
                </ion-text>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Suma 6 pliegues</ion-label>
                <ion-input formControlName="sumaPliegues" type="number" placeholder="Escribir pliegues"></ion-input>
                <ion-text
                  *ngIf="formGroup.get('antropometria').get('sumaPliegues').invalid && formGroup.get('antropometria').get('sumaPliegues').touched"
                  lines="none" color="danger" class="form-error">
                  Este campo es requerido
                </ion-text>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Suma 6 pliegues objetivo</ion-label>
                <ion-input formControlName="sumaPlieguesObjectivo" type="number"
                  placeholder="Escribir suma Pliegues Objectivo"></ion-input>
                <ion-text
                  *ngIf="formGroup.get('antropometria').get('sumaPlieguesObjectivo').invalid && formGroup.get('antropometria').get('sumaPlieguesObjectivo').touched"
                  lines="none" color="danger" class="form-error">
                  Este campo es requerido
                </ion-text>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">% Grasa(D y W)</ion-label>
                <ion-input formControlName="grasa" type="number" placeholder="Escribir % Grasa(D y W)"></ion-input>
                <ion-text
                  *ngIf="formGroup.get('antropometria').get('grasa').invalid && formGroup.get('antropometria').get('grasa').touched"
                  lines="none" color="danger" class="form-error">
                  Este campo es requerido
                </ion-text>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col [size]="2.5">
              <ion-item>
                <ion-label position="stacked">% Grasa deseado (D y W)</ion-label>
                <ion-input formControlName="grasa" type="number" placeholder="Escribir % Grasa deseado (D y W)">
                </ion-input>
                <ion-text
                  *ngIf="formGroup.get('antropometria').get('grasa').invalid && formGroup.get('antropometria').get('grasa').touched"
                  lines="none" color="danger" class="form-error">
                  Este campo es requerido
                </ion-text>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>

          <ion-card-title mode="md">Calorías diarias (Harris Benedict 1990)</ion-card-title>
        </ion-card-header>
        <ion-card-content formGroupName='caloriaDiaria'>
          <ion-row>
            <ion-col size="2.5">
              <ion-item>
                <ion-label position="stacked">GEB</ion-label>
                <b>{{getCaloriaDiariaGeb()}}</b>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>

            <ion-col size="2.5">
              <ion-item>
                <ion-label position="stacked">ETA</ion-label>
                <b>{{getCaloriaDiariaEta()}}</b>
              </ion-item>
            </ion-col>
            <ion-col size="2.5">
              <ion-item>
                <ion-label position="stacked">Porcentaje</ion-label>
                <ion-select mode="md" formControlName="etaPorcentaje" placeholder="Escribir Porcentaje">
                  <ion-select-option [value]="5">5 %</ion-select-option>
                  <ion-select-option [value]="10">10 %</ion-select-option>
                  <ion-select-option [value]="15">15 %</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2.5">
              <ion-item>
                <ion-label position="stacked">GET</ion-label>
                <b>{{getCaloriaDiariaGet()}}</b>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2.5">
              <ion-item>
                <ion-label position="stacked">Calorias FAF</ion-label>
                <b>{{getCaloriaDiariaFaf()}}</b>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2.5">
              <ion-item>
                <ion-label position="stacked">Déficit</ion-label>
                <b>{{getCaloriaDiariaDeficit()}}</b>
              </ion-item>
            </ion-col>
            <ion-col size="2.5">
              <ion-item>
                <ion-label position="stacked">Seleccione caloria</ion-label>
                <ion-input formControlName="deficitCaloria" type="number" placeholder="Seleccione caloria">
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2.5">
              <ion-item>
                <ion-label position="stacked">Superávit</ion-label>
                <b>{{getCaloriaDiariaSuperavit()}}</b>
              </ion-item>
            </ion-col>
            <ion-col size="2.5">
              <ion-item>
                <ion-label position="stacked">Seleccione caloria</ion-label>
                <ion-input formControlName="superavitCaloria" type="number" placeholder="Seleccione caloria">
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2.5">
              <ion-item>
                <ion-label position="stacked">Reserva</ion-label>
                <b>{{getCaloriaDiaraReserva()}}</b>
              </ion-item>
            </ion-col>

          </ion-row>
          <ion-row>
            <ion-col size="2.5">
              <ion-item>
                <ion-label position="stacked">CALORIAS DIARIAS ELEGIDAS</ion-label>
                <ion-input formControlName="caloriaDiariaElegida" type="number" placeholder="Seleccione caloria">
                </ion-input>
              </ion-item>
            </ion-col>

          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Escribe los datos aqui</ion-card-subtitle>
          <ion-card-title mode="md">Distribución molécula calórica</ion-card-title>
        </ion-card-header>

        <ion-card-content >
          <ion-row>
            <ion-col size="3">
              <div formGroupName='distribucion'>
                  <ion-row class="ion-no-padding ion-no-margin">
                    <ion-col  class="ion-no-padding ion-no-margin">
                      <ion-item>
                        <ion-label position="stacked"><b>Proteinas %</b> </ion-label>
                        <ion-input formControlName='proteina' type="number" placeholder="valor"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row class="ion-no-padding ion-no-margin">
                    <ion-col  class="ion-no-padding ion-no-margin">
                      <ion-item>
                        <ion-label position="stacked"><b>Carbohidratos %</b> </ion-label>
                        <ion-input formControlName='carbohidratos' type="number" placeholder="valor"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row class="ion-no-padding ion-no-margin">
                    <ion-col  class="ion-no-padding ion-no-margin">
                      <ion-item>
                        <ion-label position="stacked"><b>Grasas %</b> </ion-label>
                        <ion-input formControlName='grasas' type="number" placeholder="valor"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row class="ion-no-padding ion-no-margin">
                    <ion-col  class="ion-no-padding ion-no-margin">
                      <ion-item>
                        <ion-label position="stacked"><b>Total  %</b> </ion-label>
                        {{getDistribucionTotalPorcentaje()}}
                      </ion-item>
                    </ion-col>
                  </ion-row>
        
              </div>
             
            </ion-col>
            <ion-col >
              <div formGroupName='distribucion'>
                <ion-row class="ion-no-padding ion-no-margin">
                  <ion-col size="2.5" class="ion-no-padding ion-no-margin">
                    <ion-item>
                      <ion-label position="stacked"><b>Calorias Totales</b> </ion-label>
                      {{getCaloriaTotal('proteina', 'proteinaTotal')}}
                    </ion-item>
                  </ion-col>
                  <ion-col size="2.5" class="ion-no-padding ion-no-margin">
                    <ion-item>
                      <ion-label position="stacked"><b>Gramos total</b> </ion-label>
                      {{  (formGroup.get('distribucion').get('proteinaTotal').value / 4 ).toFixed(2)}}
                    </ion-item>
                  </ion-col>
                  <ion-col size="2.5" class="ion-no-padding ion-no-margin">
                    <ion-item>
                      <ion-label position="stacked"><b>Gramos/Kg (Peso actual)</b> </ion-label>
                      {{ (formGroup.get('distribucion').get('proteinaTotal').value / 4 / formGroup.get('antropometria').get('peso').value ).toFixed(2)  }}
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-no-padding ion-no-margin">
                  <ion-col size="2.5" class="ion-no-padding ion-no-margin">
                    <ion-item>
                      {{getCaloriaTotal('carbohidratos', 'carbohidratosTotal')}}
                    </ion-item>
                  </ion-col>
                  <ion-col size="2.5" class="ion-no-padding ion-no-margin">
                    <ion-item>
                      {{ ( formGroup.get('distribucion').get('carbohidratosTotal').value / 4).toFixed(2) }}
                    </ion-item>
                  </ion-col>
                  <ion-col size="2.5" class="ion-no-padding ion-no-margin">
                    <ion-item>
                      {{ (formGroup.get('distribucion').get('carbohidratosTotal').value / 4 / formGroup.get('antropometria').get('peso').value ).toFixed(2)  }}
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-no-padding ion-no-margin">
                  <ion-col size="2.5" class="ion-no-padding ion-no-margin">
                    <ion-item>
                      {{getCaloriaTotal('grasas', 'grasasTotal')}}
                    </ion-item>
                  </ion-col>
                  <ion-col size="2.5" class="ion-no-padding ion-no-margin">
                    <ion-item>
                      {{ (formGroup.get('distribucion').get('grasasTotal').value / 9).toFixed(2) }}
                    </ion-item>
                  </ion-col>
                  <ion-col size="2.5" class="ion-no-padding ion-no-margin">
                    <ion-item>
                      {{ (formGroup.get('distribucion').get('grasasTotal').value / 9 / formGroup.get('antropometria').get('peso').value ).toFixed(2)  }}
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  
                  <ion-col size="2.5" class="ion-no-padding ion-no-margin">
                    <ion-item>
                      {{getTotalGeneralCalorias()}}
                    </ion-item>
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content >
          
        </ion-card-content>
      </ion-card>
    </form>
    <ion-button (click)="store(title)" expand="full">
      <ion-icon name="save-outline"></ion-icon>
      Guardar



    </ion-button>
  </ng-container>
</ion-content>