<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="4">
        <ion-img src="assets/img/home1.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6">
        <ion-card mode="md">
          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-col size="1">
                <ion-icon style="font-size: 2.5em;" name="people-outline"></ion-icon>
                <!--  <ion-img src="assets/img/fruits.svg"></ion-img> -->
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-card-header mode="md">
            <ion-card-subtitle>Acerca de nosotros</ion-card-subtitle>
            <ion-card-title color="primary">Me presento</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text color="medium">
              <p>Hola mi nombre es Maria Evelia Campos Chajtur, he desarrollado este software para nutricionistas
                dietistas como herramienta para la realización del cálculo de la composición química de la dieta y el
                cálculo para el método de intercambio de alimentos.</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>