<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="4">
        <ion-img src="assets/img/home1.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6">
        <ion-card mode="md">
          
          <ion-card-header mode="md">
            <ion-card-subtitle>Acerca de nosotros</ion-card-subtitle>
            <ion-card-title color="primary">Me presento</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text color="medium">
              <p>Hola bienvenido al software CALDIET, el cual ha sido desarrollado por profesionales del área de nutrición y dietética, para nutricionistas dietistas, como herramienta para la realización del cálculo de la composición química de la dieta, el cual incluye: evaluación nutricional del paciente, cálculo calórico, planificación dietaria y cálculo del método de intercambio de alimentos, con esta herramienta podrás realizar todos tus cálculos dietéticos en consulta de una manera rápida y eficaz..</p>
              <br>
              <p> Contáctanos: +591 78149503 - +591 71088270 </p>
              
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>