<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size="4">
        <ion-img src="assets/img/home1.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6">
        <ion-card mode="md" >
          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-col size="1">
                <ion-icon style="font-size: 2.5em;" name="people-outline"></ion-icon>
                <!--  <ion-img src="assets/img/fruits.svg"></ion-img> -->
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-card-header mode="md">
            <ion-card-subtitle>Acerca de nosotros</ion-card-subtitle>
            <ion-card-title color="primary">¿Quienes somos?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text color="medium">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quae nesciunt neque atque unde! Magni
                earum neque et corrupti accusantium culpa delectus reprehenderit, sit ipsam numquam officia quis quos
                debitis!</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>