<ion-col class="ion-margin-top">
  <ion-card mode="md" class="ion-no-margin ion-no-padding">
    <ion-card-header>
      <ion-card-subtitle>
        
          <b> % Adec</b>
        
        
        
      </ion-card-subtitle>
      <ion-card-title><ion-badge color="dark">Requerimiento</ion-badge></ion-card-title>
    </ion-card-header>
    <ion-card-content>
       <ion-grid fixed>
         <ion-row>
           <ion-col size="3">                          
              
           </ion-col>
           <ion-col size="3">
              <ion-text >
                Energia: {{ (getTotal(value, 'energia') / value.req.energia) * 100  }} %
              </ion-text>
           </ion-col>
           <ion-col size="3">
              <ion-text >
                Humedad: {{ (getTotal(value, 'humedad') / value.req.energia) * 100  }} %
              </ion-text>
           </ion-col>
           <ion-col size="3">
              <ion-text >
                Proteina: {{ (getTotal(value, 'proteina') / value.req.energia) * 100  }} %
              </ion-text>
           </ion-col>
         </ion-row>
         <ion-row>
          <ion-col size="3">                          
             <ion-text >
               Grasa: {{ (getTotal(value, 'grasa') / value.req.energia) * 100  }} %
             </ion-text>
          </ion-col>
          <ion-col size="3">
             <ion-text >
               Hc: {{ (getTotal(value, 'hc') / value.req.energia) * 100  }} %
             </ion-text>
          </ion-col>
          <ion-col size="3">
             <ion-text >
               Fibra cruda:  {{ (getTotal(value, 'fibra_cruda') / value.req.energia) * 100  }} %
             </ion-text>
          </ion-col>
          <ion-col size="3">
             <ion-text >
               Ceniza:  {{ (getTotal(value, 'ceniza') / value.req.energia) * 100  }} %
             </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">                          
             <ion-text >
               Calcio: {{ (getTotal(value, 'calcio') / value.req.energia) * 100  }} %
             </ion-text>
          </ion-col>
          <ion-col size="3">
             <ion-text >
               Fosforo: {{ (getTotal(value, 'fosforo') / value.req.energia) * 100  }} %
             </ion-text>
          </ion-col>
          <ion-col size="3">
             <ion-text >
               Hierro: {{ (getTotal(value, 'hierro') / value.req.energia) * 100  }} %
             </ion-text>
          </ion-col>
          <ion-col size="3">
             <ion-text >
               Vit a: {{ (getTotal(value, 'vit_a') / value.req.energia) * 100  }} %
             </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">                          
             <ion-text >
               Tiamina: {{ (getTotal(value, 'tiamina') / value.req.energia) * 100  }} %
             </ion-text>
          </ion-col>
          <ion-col size="3">
             <ion-text >
               Riboflavina {{ (getTotal(value, 'riboflavina') / value.req.energia) * 100  }} %
             </ion-text>
          </ion-col>
          <ion-col size="3">
             <ion-text >
               Nianica: {{ (getTotal(value, 'niacina') / value.req.energia) * 100  }} %
             </ion-text>
          </ion-col>
          <ion-col size="3">
             <ion-text >
               Vit c: {{ (getTotal(value, 'vit_c') / value.req.energia) * 100  }} %
             </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">                          
             <ion-text >
               Agm: {{ (getTotal(value, 'agm') / value.req.energia) * 100  }} %
             </ion-text>
          </ion-col>
          <ion-col size="3">
             <ion-text >
               Agp {{ (getTotal(value, 'agp') / value.req.energia) * 100  }} %
             </ion-text>
          </ion-col>
          <ion-col size="3">
             <ion-text >
              Ags: {{ (getTotal(value, 'ags') / value.req.energia) * 100  }} %
             </ion-text>
          </ion-col>
          <ion-col size="3">
             <ion-text >
              Col: {{ (getTotal(value, 'col') / value.req.energia) * 100  }} %
             </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">                          
             <ion-text >
               Potasio: {{ (getTotal(value, 'potasio') / value.req.energia) * 100  }} %
             </ion-text>
          </ion-col>
          <ion-col size="3">
             <ion-text >
               Sodio: {{ (getTotal(value, 'sodio') / value.req.energia) * 100  }} %
             </ion-text>
          </ion-col>
          <ion-col size="3">
             <ion-text >
              Zinc: {{ (getTotal(value, 'zinc') / value.req.energia) * 100  }} %
             </ion-text>
          </ion-col>
          <ion-col size="3">
             <ion-text >
              Vit b12: {{ (getTotal(value, 'vit_b12') / value.req.energia) * 100  }} %
             </ion-text>
          </ion-col>
        </ion-row>
       </ion-grid>
  
    </ion-card-content>
  </ion-card>
</ion-col>

