<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-grid fixed>
          <ion-row class="ion-align-items-center">
            <ion-col size="12">
              <ion-card>
                <ion-card-content>
                  <ion-list id="inbox-list">
                    <ion-grid fixed>
                      <ion-row class="ion-justify-content-center">
                        <ion-col size="3">
                          <ion-img src="assets/img/ueb.png"></ion-img>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                    <ion-list-header>Appp</ion-list-header>
                    <ion-note>Welcome app</ion-note>
          
                    <ion-menu-toggle auto-hide="false" >
                      <ion-item routerLink="/home" lines="none" detail="false" routerLinkActive="selected">
                        <ion-icon name="chevron-forward-outline"></ion-icon>
                        <ion-label color="medium">Hogar</ion-label>
                      </ion-item>
                      <ion-item routerLink="/composicion" lines="none" detail="false" routerLinkActive="selected">
                        <ion-icon name="chevron-forward-outline"></ion-icon>
                        <ion-label color="medium">Composicion quimica de la tienda</ion-label>
                      </ion-item>
                      <ion-item routerLink="/intercambio" lines="none" detail="false" routerLinkActive="selected">
                        <ion-icon name="chevron-forward-outline"></ion-icon>
                        <ion-label color="medium">Intercambio de alimento</ion-label>
                      </ion-item>
                      <ion-item routerLink="/aboutus" lines="none" detail="false" routerLinkActive="selected">
                        <ion-icon name="chevron-forward-outline"></ion-icon>
                        <ion-label color="medium">Acerca de nosotros</ion-label>
                      </ion-item>
                    </ion-menu-toggle>
                  </ion-list>
                </ion-card-content>
              </ion-card>
            </ion-col>
            
          </ion-row>
        </ion-grid>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
