<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Appp</ion-list-header>
          <ion-note>Welcome app</ion-note>

          <ion-menu-toggle auto-hide="false" >
            <ion-item lines="none" detail="false">
              <ion-icon slot="start" name="add"></ion-icon>
              <ion-label>Title menu</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
