<ion-content  class="background-image">
  <ion-grid fixed  class="background-image">
    <ion-row class="ion-justify-content-center">
      <ion-col size="4">
        <ion-card>
          <ion-card-content>
            <ion-img src="assets/img/home1.png"></ion-img>
          </ion-card-content>
        </ion-card>
        

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card color="light">
          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-col size="3">
                <ion-img src="assets/img/fruits.svg"></ion-img>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-card-header mode="md">
            <ion-card-subtitle>Composicion quimica de la dieta</ion-card-subtitle>
            <ion-card-title>Realiza tus dietas</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="6">
                  <ion-button routerLink="/composicion" color="primary" expand="block" fill="outline" shape="round">
                    <ion-icon  name="eye-outline"></ion-icon>
                    Ver tus recetas
                  </ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button color="primary" expand="block" fill="outline" shape="round">
                    <ion-icon name="add-outline"></ion-icon>
                    Crea tu receta
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card color="light">
          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-col size="3">
                <ion-img src="assets/img/fruits2.svg"></ion-img>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-card-header mode="md">
            <ion-card-subtitle>Intercambio de alimento</ion-card-subtitle>
            <ion-card-title>Realiza tus dietas</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="6">
                  <ion-button routerLink="/intercambio" color="primary" expand="block" fill="outline" shape="round">
                    <ion-icon name="eye-outline"></ion-icon>
                    Ver tus recetas
                  </ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button color="primary" expand="block" fill="outline" shape="round">
                    <ion-icon name="add-outline"></ion-icon>
                    Crea tu receta
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>