<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Calculo dietetico</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Atras"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header mode="md">
      <ion-card-subtitle>Lista de todas tus calculos</ion-card-subtitle>
      <ion-card-title color="primary">Descripcion de las calculos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Calculos recientes</ion-label>
          <ion-button (click)="createDiete()">
            <ion-icon name="add-circle-outline"></ion-icon>
            Agregar nueva
          </ion-button>
        </ion-item>
        <ng-container *ngIf="(dietas$ | async ) as dietas; else elseAsync">
          <ng-container *ngIf="dietas.length; else elseTemplate">
            <ion-item *ngFor="let dieta of dietas" class="ion-activatable ripple-parent" (click)="presentActionSheet(dieta)">
              <ion-icon name="chevron-forward-outline"></ion-icon>
              <ion-label>
                <p><b>Nombre Paciente</b> {{ dieta.nombre | titlecase}}</p>
                <p><b>Fecha creada:</b>{{ dieta.created_at| date: 'dd/MM/yyyy'}}</p>
                <p *ngIf="dieta.descripcion.length; else elseDescripcionString"> {{dieta.descripcion }} </p>
                <ng-template #elseDescripcionString><p> Sin descripcion...</p></ng-template>
                
                
              </ion-label>
              <ion-ripple-effect></ion-ripple-effect>
            </ion-item>
          </ng-container>
          <ng-template #elseTemplate>
            <ion-item>
              <ion-label>
                <ion-text color="warning">
                  <p>No tienes ninguna dieta crea una</p>
                </ion-text>
              </ion-label>
            </ion-item>
          </ng-template>

        </ng-container>
        <ng-template #elseAsync>
          
        </ng-template>
        


      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" routerLink="store">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>